@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  
  @keyframes jump {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateY(8px);
    }
    75% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateX(0);
    }

  }