.container{
    width: 100%;
    max-width: 1300px;
    position: relative;
}
.footer{
    .container{
        display: flex;
        flex-direction: column;
        padding: 16px;
        @media (min-width: 1024px){
            align-items: center;
        }
    }
}